@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Montserrat', sans-serif;
}

main{
  background-color: #c9d6ff;
  background: linear-gradient(to right, #ffffff, #d2d6e2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90.1vh;
  width: 100%;
}
.container{
  display: flex;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.35);
  overflow: hidden;
  width: 700px;
  max-width: 100%;
  min-height: 450px;
}
.container p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}
.container span{
  font-size: 12px;
}
.container a{
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}
.container button{
  background-color:  rgba(0, 28, 85, 1);
  color: white;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: poiner;
}
.container button.hidden{
  background-color: transparent;
  border-color: #fff;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.container button.hidden:hover, .container button.hidden:focus, .container button.hidden:active{
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.home-icon{
  width: 100%;
  display: flex;
  justify-content: start;
  margin-top: -4.7em;
  margin-bottom: 2.5em;
  margin-left: -16.5em;
  background-color: white;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  }
  .home-icon i{
    color: rgba(0, 28, 85, 1);
    font-size: 25px;

  }
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-right: 1.5em;
  padding-left: 1.5em;
  width: 50%;
}
.form-header{
  display: block;
  font-weight: 800;
}
.form-header p{
  font-size: 2.3em;
}
.details p{
  font-size: 1em;
}

.container input{
  background-color: #eee;
  border: none;
  margin: 12px 0;
  padding: 10px 15px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 8px;
  width: 100%;
  outline: none;
}
.welcome-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 46%;
  background-color: rgba(0, 28, 85, 1);
  border-top-right-radius: 7.8em;
  border-bottom-right-radius: 5em;
}
.welcome-container h1{
  color: white;
}
.welcome-container p{
  color: white;
  width: 80%;
  text-align: center;
}
.sign-in-options{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 1em;
}
.sign-in-options span{
  display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 5em;
}

.sign-in-options button{
  background-color: white;
  color: black;
  border: none;
  padding: 2px 20px;
  height: 40px;
  margin: auto;
}
.sign-in-options button:hover{
   box-shadow: 0 20px 25px rgba(0, 0, 0, 0.3);
}



.sign-up-button{
  margin-top: 1.5em;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.sign-up-button:hover, .sign-up-button:focus, .sign-up-button:active{
  box-shadow: 0 0px 20px rgba(0,0,0,0.5);
 -webkit-transform: scale(1.1);
 transform: scale(1.1);
}
.arr-btn{
 display: flex;
}
footer{
  background-color: rgb(0, 22, 66);
  padding: 20px;
  text-align: center;
 position: fixed;
  bottom: 0;
  left: 0;
  right: 0; 
}
footer p{
  color: white;
}

@media screen and (max-width: 360px) and (min-width: 200px) {

  main{
    background-color: none;
    background: none;
    height: 100%;
  }
  .home-icon{
    margin-top: -1em;
    margin-bottom: 0.5em;
    margin-left: -19.5em;
    background-color: white;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    }
  .container{
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container input{
    background-color: #eee;
    border: none;
    margin: 5px 0;
    padding: 10px 10px;
    font-size: 17px;
    border-radius: 8em;
    width: 100%;
  }

  .welcome-container{
    width: 100%;
    background-color: rgba(0, 28, 85, 1);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 45%;
    border-bottom-left-radius: 45%;
    padding-top: 0.3em;
    padding-bottom: 3em;
    margin-bottom: 0em;
  }
  .sign-in-options span{
  margin-top: 1.5em;
  }
  .form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-right: 1.5em;
    padding-left: 1.5em;
    width: 100%;
    
  }
  
  .form-header p{
    display: block;
    font-weight: 800;
    font-size: 2.1em;
    margin-top: 2em;
  }
  .details p{
    margin-top: 2em;
    font-size: 1.5em;
    font-weight: 400;
  }
  .sign-up-button{
    margin-top: 1em;
    margin-bottom: 0em;

  }
  
}

@media screen and (max-width: 400px) and (min-width: 361px) {

  main{
    height: 100%;
  }
  .welcome-container h1{
    font-size: 1.8em;
  }
  .welcome-container p{
font-size: 0.8em;
  }
  .home-icon{
    margin-top: -0.8em;
    margin-bottom: 0.3em;
    margin-left: -20.7em;
    background-color: white;
    height: 4em;
    width: 4em;
    }
  .container{
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container input{
    background-color: #eee;
    border: none;
    margin: 1px 0;
    padding: 15px 15px;
    font-size: 13px;
    border-radius: 8em;
    width: 100%;
    margin-top: 1em;
  }

  .welcome-container{
    width: 100%;
    background-color: rgba(0, 28, 85, 1);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 45%;
    border-bottom-left-radius: 45%;
    padding-top: 0em;
    padding-bottom: 3em;
    margin-bottom: 0em;
  }
  .sign-in-options span{
  margin-top: 0em;
  }
  .form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-right: 1.5em;
    padding-left: 1.5em;
    width: 100%;
    
  }
  
  .form-header p{
    display: block;
    font-weight: 800;
    font-size: 2em;
    margin-top: 1em;
  }
  .details p{
    margin-top: 1em;
    font-size: 1em;
    font-weight: 400;
  }
  .sign-up-button{
    margin-top: 2em;
    margin-bottom: 0em;

  }
 
}

@media screen and (max-width: 400px) and (min-width: 380px) {

  main{
    height: 100%;
  }
  .welcome-container h1{
    font-size: 1.8em;
  }
  .welcome-container p{
font-size: 0.8em;
  }
  .home-icon{
    margin-top: -0.8em;
    margin-bottom: 0.3em;
    margin-left: -20.7em;
    background-color: white;
    height: 4em;
    width: 4em;
    }
  .container{
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container input{
    background-color: #eee;
    border: none;
    margin: 1px 0;
    padding: 17px 17px;
    font-size: 13px;
    border-radius: 8em;
    width: 100%;
    margin-top: 2em;
  }

  .welcome-container{
    width: 100%;
    background-color: rgba(0, 28, 85, 1);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 45%;
    border-bottom-left-radius: 45%;
    padding-top: 0em;
    padding-bottom: 3em;
    margin-bottom: 0em;
  }
  .sign-in-options span{
  margin-top: 0em;
  }
  .form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-right: 1.5em;
    padding-left: 1.5em;
    width: 100%;
    
  }
  
  .form-header p{
    display: block;
    font-weight: 800;
    font-size: 2em;
    margin-top: 2em;
  }
  .details p{
    margin-top: 3em;
    font-size: 1em;
    font-weight: 400;
  }
  .sign-up-button{
    margin-top: 2em;
    margin-bottom: 0em;

  }
 
}


@media screen and (max-width: 500px) and (min-width: 401px) {

  main{
    height: 100%;
  }
  .welcome-container h1{
    font-size: 2em;
  }
  .welcome-container p{
font-size: 1em;
  }
  .home-icon{
    margin-top: -0.7em;
    margin-bottom: 0.3em;
    margin-left: -22.3em;
    background-color: white;
    height: 4em;
    width: 4em;
    }
  .container{
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container input{
    background-color: #eee;
    border: none;
    margin: 5px 0;
    padding: 20px 20px;
    font-size: 13px;
    border-radius: 8em;
    width: 100%;
    margin-top: 2em;
  }

  .welcome-container{
    width: 100%;
    background-color: rgba(0, 28, 85, 1);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 45%;
    border-bottom-left-radius: 45%;
    padding-top: 0em;
    padding-bottom: 3em;
    margin-bottom: 0em;
  }
  .sign-in-options span{
  margin-top: 0em;
  }
  .form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-right: 1.5em;
    padding-left: 1.5em;
    width: 100%;
    
  }
  
  .form-header p{
    display: block;
    font-weight: 800;
    font-size: 2.4em;
    margin-top: 2em;
  }
  .details p{
    margin-top: 3em;
    font-size: 1.2em;
    font-weight: 400;
  }
  .sign-up-button{
    margin-top: 3em;
    margin-bottom: 0em;

  }
 
}

@media screen and (max-width: 800px) and (min-width: 501px) {

  main{
    height: 100%;
  }
  .welcome-container h1{
    font-size: 2em;
  }
  .welcome-container p{
font-size: 1em;
  }
  .home-icon{
    margin-top: -0.7em;
    margin-bottom: 0.3em;
    margin-left: -40.7em;
    background-color: white;
    height: 4em;
    width: 4em;
    }
  .container{
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container input{
    background-color: #eee;
    border: none;
    margin: 5px 0;
    padding: 20px 20px;
    font-size: 13px;
    border-radius: 8em;
    width: 100%;
    margin-top: 2em;
  }

  .welcome-container{
    width: 100%;
    background-color: rgba(0, 28, 85, 1);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 45%;
    border-bottom-left-radius: 45%;
    padding-top: 0em;
    padding-bottom: 3em;
    margin-bottom: 0em;
  }
  .sign-in-options span{
  margin-top: 0em;
  }
  .form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-right: 1.5em;
    padding-left: 1.5em;
    width: 100%;
    
  }
  
  .form-header p{
    display: block;
    font-weight: 800;
    font-size: 2.4em;
    margin-top: 2em;
  }
  .details p{
    margin-top: 1em;
    font-size: 1.2em;
    font-weight: 400;
  }
  .sign-up-button{
    margin-top: 3em;
    margin-bottom: 0em;

  }
 
}